<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpactSignals</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<header class="bg-warning text-dark d-flex justify-content-between align-items-center p-3">
    <h2 class="m-0">ImpactSignals</h2>
    <button class="font-weight-bold text-dark btn btn-outline-dark" onclick="location.href='{% url 'surveys:signout' %}'">Logout</button>
</header>

<div class="container-fluid flex-grow-1">
    <div class="row mt-4">
        <div class="col-1 bg-primary text-white d-flex flex-column" style="min-height: calc(100vh - 56px);">
            <!-- Sidebar content -->
        </div>
        <div class="col-11">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" id="design-tab">Design the Survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="preview-tab">Preview the Survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collect-tab">Collect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="analyze-tab">Analyze Results</a>
                </li>
            </ul>
            <div class="tab-content mt-4">
                <div class="tab-pane fade show active" id="design-survey">
                    <div class="card">
                        <div class="card-body">
                            <form id="survey-form" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="surveyName">Survey Name</label>
                                    <input class="form-control" type="text" id="surveyName" name="surveyName" required>
                                </div>
                                <div class="form-group">
                                    <label for="surveyDescription">Survey Description</label>
                                    <input class="form-control" id="surveyDescription" name="surveyDescription" required>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-warning font-weight-bold">Next >></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="survey-details" class="mt-4" style="display: none;">
                <h5>Survey Name: <span id="displaySurveyName"></span></h5>
                <h5>Survey Description: <span id="displaySurveyDescription"></span></h5>
                <div id="question-list" class="mt-3">
                    <!-- Added questions will be displayed here -->
                </div>
                <br>
                <div class="text-center">
                    <button id="addQuestionBtn" class="btn btn-warning font-weight-bold">+ Add Question</button>
                </div>
                
            </div>
            <div id="question-types" class="mt-4" style="display: none;">
                <div class="card">
                    <div class="card-body">
                        <h5>Select any of the following:</h5>
                        <div class="d-flex flex-wrap justify-content-between">
                            <button class="btn btn-outline-warning m-2" id="dropdownButton">Dropdown</button>
                            <button class="btn btn-outline-warning m-2">Radio Button</button>
                            <button class="btn btn-outline-warning m-2">NPS</button>
                            <button class="btn btn-outline-warning m-2">Check Box</button>
                            <button class="btn btn-outline-warning m-2">Descriptive / Open Ended</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dropdown-question" class="mt-4" style="display: none;">
                <div class="card">
                    <div class="card-body">
                        <form id="dropdown-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" id="surveyId" name="survey_id" value="">
                            <div class="p-1 mb-1 bg-warning text-dark">
                                Dropdown
                            </div>
                            <div class="form-group">
                                <label for="addQuestionText">Add Question</label>
                                <input class="form-control" type="text" id="addQuestionText" name="addQuestionText" required>
                            </div>
                            <div class="form-group">
                                <label for="addOptions">Add options with comma as the separator</label>
                                <input class="form-control" type="text" id="addOptions" name="addOptions" required>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-danger">Add this</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#survey-form').on('submit', function(event) {
            event.preventDefault();
            var surveyName = $('#surveyName').val().trim();
            var surveyDescription = $('#surveyDescription').val().trim();

            if (surveyName === '' || surveyDescription === '') {
                alert('Please enter both survey name and description.');
                return;
            }

            $.ajax({
                url: '{% url "surveys:fromscratch" %}',
                type: 'POST',
                data: {
                    'surveyName': surveyName,
                    'surveyDescription': surveyDescription,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    
                    window.location.href = '/survey/survey_detail/' + response.survey_id + '/';
                }
            });
        });

        {% if survey %}
            $('#displaySurveyName').text('{{ survey.name }}');
            $('#displaySurveyDescription').text('{{ survey.description }}');
            $('#surveyId').val('{{ survey.id }}');
            $('#survey-details').show();
            $('#design-survey').hide();

            {% for question in survey.question_set.all %}
                var questionHtml = '<div class="card mt-2"><div class="card-body">';
                questionHtml += '<p><strong>Question:</strong> {{ question.question_text }}</p>';
                questionHtml += '<p><strong>Options:</strong></p>';
                questionHtml += '<select class="form-control">';
                {% for option in question.options.all %}
                    questionHtml += '<option>{{ option }}</option>';
                {% endfor %}
                questionHtml += '</select>';
                questionHtml += '</div></div>';

                $('#question-list').append(questionHtml);
            {% endfor %}
        {% endif %}

        $('#addQuestionBtn').on('click', function() {
            $('#question-types').show();
        });

        $('#dropdownButton').on('click', function() {
            $('#question-types').hide();
            $('#dropdown-question').show();
        });

        $('#dropdown-form').on('submit', function(event) {
            event.preventDefault();
            var questionText = $('#addQuestionText').val().trim();
            var options = $('#addOptions').val().trim();
            var surveyId = $('#surveyId').val();

            if (questionText === '' || options === '') {
                alert('Please enter both question text and options.');
                return;
            }

            $.ajax({
                url: '/survey/survey_detail/' + surveyId + '/',
                type: 'POST',
                data: {
                    'addQuestionText': questionText,
                    'addOptions': options,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    var questionHtml = '<div class="card mt-2"><div class="card-body">';
                    questionHtml += '<p><strong>Question:</strong> ' + response.question_text + '</p>';
                    questionHtml += '<p><strong>Options:</strong></p>';
                    questionHtml += '<select class="form-control">';
                    
                    response.options.forEach(function(option) {
                        questionHtml += '<option>' + option + '</option>';
                    });
                    
                    questionHtml += '</select>';
                    questionHtml += '</div></div>';
                
                    $('#question-list').append(questionHtml);
                    $('#dropdown-question').hide();
                    $('#dropdown-form')[0].reset(); 
                }
            });
        });
    });
</script>


</body>
</html>
